@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lily+Script+One&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}


:root{
    --background-color : #fff;
    --text : #000;
    --purple : #7B1DF3;
}

body.alt-colors {
    --background-color : #252525;
    --text : #fff;
}


body{
    background-color: var(--background-color);
}

.circles > *{
    filter: blur(210px);
    position: fixed;
    border-radius: 50%;
    z-index: -1;
}

.circles > :first-child{
    width: 221px;
    height: 211px;
    background-color: red;
    border-radius: 50%;
    top: 182px;
    left: 162px;
}

.circles > :nth-child(2){
    width: 289px;
    height: 276px;
    background: #05FF00;
    top: 647px;
    left: 718px;
}

.circles > :last-child{
    width: 289px;
    height: 276px;
    background: #0094FF;
    top: 207px;
    right: 206px;
}

header{
    width: 100%;
    height: 112px;
    border-bottom: 1px solid;
    position: fixed;
    backdrop-filter: blur(10px);
}

header nav{
    display: flex;
}

header nav ul{
    display: flex;
}

header nav h1{
    color: var(--text);
    font-family: "Lily Script One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    margin: 42px 250px 29px 186px;
}

nav ul li{
    color: var(--text);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.44px;
    margin-left: 53px;
    margin-top: 48px;
    transition: 1s;
}

nav ul li:hover{
    color: var(--purple);
}

header nav img{
    width: 60px;
    height: 60px;
    margin-left: 56px;
    margin-top: 29px;
}

header nav button{
    width: 134px;
    height: 51px;
    border-radius: 26px;
    background: var(--purple);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-top: 37px;
    margin-left: 109px;
}

/*------------setting-----------------*/

header .btn{
    background-color: #fff;
    width: 12em;
    height: 5em;
    border-radius: 10em;

    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
                inset 0 8px 8px rgba(0, 0, 0, .1),
                inset 0 -4px 4px rgba(0, 0, 0, .1);

    position: relative;
    margin-left: 6rem;

    display: flex;
    text-align: center;
    cursor: pointer;
}

header .btn_indicator{
    background-color: #fff;
    width: 4em;
    height: 4em;
    border-radius: 50%;

    position: absolute;
    top: 9px;
    left: 7px;

    box-shadow: 0px 8px 40px rgba(0, 0, 0,.2);

    transition: transform .3s ease;
}

header .btn_icon-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn_icon{
    color : yellow;
    font-size: 2rem;
}

/*---------------dark--------------*/

.darkMode .btn_indicator{
    transform: translateX(7em);
    background-color: var(--text);
    box-shadow: 0 8px 40px rgba(0, 0, 0, .3);
}

.darkMode .btn_icon{
    color: #000;
}

.darkMode .btn{
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .3),
                inset 0 8px 8px rgba(0, 0, 0, .3),
                inset 0 -4px 4px rgba(0, 0, 0, .3);
}

.settings{
    position: absolute;
    right: 20vh;
    padding: 1rem;
    border: 2px solid var(--text);
    background-color: var(--background-color);
    border-radius: 13px;
    display: none;
}

.settings.clicked{
    display: inline;
}

.settings .colors > *{
    width: 4rem;
    height: 4rem;
    float: left;
    margin: 1rem;
    border-radius: 50%;
}

.settings .colors > :first-child{
    background-color: #7B1DF3;
}

.settings .colors > :nth-child(2){
    background-color: #C9F31D;
}

.settings .colors > :nth-child(3){
    background-color: #05FF00;
}

.settings .colors > :last-child{
    background-color: #0094FF;
}

.settings h3{
    color: var(--text);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.44px;
    margin: 20px;
}

.settings{
    text-align: center;
    align-items: center;
}

/*---------------------------------background--------------------------------------*/


.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: var(--background-color);
    filter: saturate(2);
    overflow: hidden;
    z-index: -1;
}

.color-box{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: var(--background-color);
}

.color-box:hover{
    background: var(--purple) ;
    opacity: 10%;
    transition: durathion 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--purple) ;
    ;
    filter: blur(60px);
    animation: animback 6s linear infinite;
}

@keyframes animback{
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}